body {
    background: linear-gradient(135deg, #0b0013, #1a0030, #2d0050);
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8BQDwAFhAIyCheZvQAAAABJRU5ErkJggg==");
    opacity: 0.08; /* adjust if needed */
}

/* Floating emoji animation */
.floating-icons {
    position: absolute;
    top: -20px;
    left: 10%;
    font-size: 2.5rem;
    opacity: 0.6;
    animation: float 8s linear infinite;
}
.delay1 { left: 50%; animation-duration: 10s; }
.delay2 { left: 80%; animation-duration: 12s; }

@keyframes float {
    0% { transform: translateY(0); opacity: 0.5; }
    100% { transform: translateY(120vh); opacity: 0; }
}

.screen {
    padding: 40px;
}

.hidden {
    display: none;
}

.fade {
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}


/* Glass container */
.glass {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8px);
    padding: 30px;
    border-radius: 20px;
    margin: 20px auto;
    width: 80%;
}

#result-card {
    padding: 30px;
    width: 80%;
    margin: auto;
}

input {
    padding: 12px;
    width: 60%;
    border-radius: 25px;
    border: none;
    margin-top: 15px;
    font-size: 1rem;
    outline: none;
}

button {
    margin-top: 25px;
    padding: 12px 30px;
    background: #ff4df0;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.4);
}

button:hover {
    transform: scale(1.08);
    background: #ff2ecb;
}

.error {
    color: #ff6b6b;
    margin-top: 10px;
    height: 20px;
}

/* Quiz Options */
.option {
    background: #8228ff;
    padding: 14px;
    margin: 12px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.option:hover {
    background: #a66bff;
    transform: scale(1.03);
}

.option.selected {
    background: #d36aff;
    transform: scale(1.07);
    box-shadow: 0 0 12px #ff8aff;
}

.question {
    margin-bottom: 20px;
}

.endmsg {
    font-size: 1.2rem;
    color: #ffbaff;
}

#login-screen input, 
#login-screen button {
    display: inline-block;
    vertical-align: middle;
}

#login-screen input {
    width: 50%;
    margin-right: 10px;
}

@media (max-width: 600px) {

    input {
        width: 80% !important;
        margin-bottom: 15px;
    }

    button {
        width: 80%;
    }

    #login-screen {
        padding: 20px;
    }

    .glass {
        width: 90%;
        padding: 20px;
    }

    .option {
        font-size: 0.95rem;
        padding: 12px;
    }
}



